
	@font-face {
	    font-family: 'outage';
	    src: url('../fonts/Outage.ttf');
	}

	.bg {
		position: relative;
	}

	.icon {
		position: absolute;
	}	
	
	.portrait {
		position: absolute;
		left: 0.2in;
		top: 0.2in;
	}

	body {
	}

	.faded {
		opacity: 0.3;
	}

	.decks {
		width: 11in;
	}

	.deck {
		width: 10in;
		margin: auto;
		clear: left;
		overflow: hidden;
	}

	.card {
		width: 2.5in;
		position: relative;
		float: left;
	}

	.card img{
		width: 100%;
	}

	.card div {
		position: absolute;
	}

	div.name {
		font-size: 36pt;
		font-family:"outage";
		text-align: left;
	}

	div {
		font-size: 80pt;
		font-family:"outage";
		text-align: center;
	}