
.deck {
	width: 10in;
	margin: auto;
	clear: left;
	overflow: hidden;
}

body {
	width: 11in;
}


.card {
	width: 2.5in;
	position: relative;
    float: left;
    font-size: 12pt;
}

div {
	border: 1px solid black;
}